<%= error_messages_for @cron_task %>

<div class="box tabular">

	<!-- TODO: tradução dos campos<br> -->
	<p>
		<%= f.select :task, list_rake_tasks , :required => true   %>
	</p>
	<p>
		<%= f.text_field :interval %> <!-- (TODO: ano,dia,m,h,min . mín 1min. intervalo mínimo de acordo com a tarefa no crontab do Linux) -->
	</p>
	<p>
		<%= f.text_area :comments%>
	</p>
	<p>
		<%= f.check_box :enabled, :required => true %>
	</p>
</div>
