<div class="contextual">
  <%= link_to l(:'redmine_cron.disable_all'),
      cron_tasks_change_status_path(:cron_task => {:enabled => 0}),
      :data => {:confirm => l(:text_are_you_sure)}, :method => :put,
      :class => 'icon icon-cron_task-disable' %>
  <%= link_to l(:'redmine_cron.enable_all'),
      cron_tasks_change_status_path(:cron_task => {:enabled => 1}),
      :data => {:confirm => l(:text_are_you_sure)}, :method => :put,
      :class => 'icon icon-cron_task-enable' %>
  <%= link_to l(:"redmine_cron.task_new"), 
      new_cron_task_path, :class => 'icon icon-add' %>
</div>

<%= title l('redmine_cron.tasks') %>

<% if (@cron_tasks.blank?) %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>

<table class="list redmine_cron">

  <thead>
    <tr>
      <%= sort_header_tag('id', :caption => '#') %>
      <%= sort_header_tag('task', :caption => l(:"redmine_cron.task")) %>
      <%= sort_header_tag('last_run', :caption => l(:"redmine_cron.last_run")) %>
      <%= sort_header_tag('last_status', :caption => l(:"redmine_cron.last_status")) %>
      <%= sort_header_tag('interval', :caption => l(:"redmine_cron.interval")) %>
      <%= sort_header_tag('enabled', :caption => l(:"redmine_cron.enabled")) %>
      <th><%=l(:"redmine_cron.comments")%></th>
    </tr>
  </thead>

  <tbody>
    <% @cron_tasks.each do |task| %>
    <tr class="<%= cycle('odd', 'even') %><%= ' disable' unless task.enabled %>">
      <td class="id"><%= link_to task.id, cron_task_path(task.id) %></td>
      <td class=""><%=h task.task %></td>
      <td class="date_time"><%=format_last_run task.last_run %></td>
      <td class="status<%=task.last_status%>"><%=show_task_status task %></td>
      <td class=""><%=distance_of_time_in_words (task.interval.minutes) %></td>
      <td id="toggle_enabled_<%=task.id%>" class=""><%=toggle_enabled(task) %></td>
      <td class="comments"><%=h task.comments %></td>
    </tr>
    <% end %>
  </tbody>

</table>

<% end %>

<%=stylesheet_link_tag("cron", plugin: "redmine_cron") %>